#about-me{
    margin-bottom: 2%;
    width: 100%;
    background-color: antiquewhite;
    gap: 2%;
    display: flex;
}

#about-me h3{
    border-bottom: black solid;
}

#tex{
    overflow: auto;
    height: auto;
    padding-right: 1%;
    width: 100%;
    float: left;
}

#about-me > img{
    width: 50%;
}

@media screen and (max-width: 1236px) {
    #tex{
        overflow-y: auto;
        height: 200px;
    }
    
}

