.card > p{
    text-wrap:wrap;
    margin-top: 0px;
}

button > img{
    width: 10%;
    padding: 3px;
}

.card > hr{
    border-color: black;
    width: 100%;
    margin: 0;
}

.card{
    /* background-color: rgb(189, 146, 188); */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* padding: 5px; */
}

.card h3{
    margin: 1%;
}

.card > button{
    background-color: rgb(153, 215, 169);
    border: none;
    box-shadow: 1px 1px 5px green;
}

#card-storage{
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: repeat(4, 23.3%);
    column-gap: 2%;
}

@media screen and (max-width:1023px) {
    .card{
        --numer: 20px;
        margin-bottom: var(--numer);
        padding-bottom: var(--numer);
        border-bottom: dotted black;
    }
}

@media screen and (min-width: 701px) and (max-width: 1023px) {
    #card-storage{
        grid-template-columns: repeat(2,48%);
        column-gap: 2.5%;
    }
    
}

@media screen and (max-width: 700px) {
    #card-storage{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
