@use "Settings/base.scss";
@use "Settings/vars.scss";

body {
  background-color: #f5f6fa;

  header {
    background-color: #182c61;
    position: sticky;
    top: 0;
    left: 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 0;
    }
  }

  section {
    padding: 56px 0;
  }

  li {
    list-style: none;
  }

  .container {
    max-width: vars.$desktop;
    @include vars.w100;
    margin: 0 auto;
  }

  .products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    @include vars.w100;

    img {
      @include vars.w100;
      border-radius: 16px;
    }
  }

  .product-button {
    display: block;
    background-color: vars.$green;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
      background-color: vars.$green;
    }
  }

  .menu {
    display: flex;

    li {
      font-weight: bold;
      margin-left: 24px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: vars.$desktop) {
  .container {
    max-width: 80% !important;
 
    .products {
      // background-color: blue;
      grid-template-columns: repeat(2 , 48.5%);
      column-gap: 3%;
    } 
  }
}

@media screen and (max-width: vars.$mobile) {
  .products {
    // background-color: red;
    display: block;
  }

  .product-item {
    margin-bottom: 32px;
  }
}
