* {
/*Box model stuff*/
    margin: 0px;
    font-family: 'Dosis', sans-serif;
}

body {
/*Box model stuff*/
    padding: 100px;
    background-color: rgb(61, 61, 61);
}

.container {
/*Box model stuff*/
    width: 100%;
/*Typography stuff*/
    text-align: center;
}

.red{
    color: brown;
    font-size: small;
}

h1{
    margin-left: 70px;
    color: rgb(20, 20, 20);
    text-align: start;
    border-style: inset;
    border-width: 1px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    width: fit-content;
    padding: 5px;
    font-weight: 100;
}