* {
    /* = Ã‘'specificado */
    box-sizing: border-box;
    /* margin: 0px; */
    padding: 0px;
}

/* Reset! */

body {
    background-color: rgb(48, 38, 51);
}

hr{
    border: 3px solid #00000081; /* Tem que usar border n color*/
    border-radius: 15px;
}

.container {
    margin: auto;
    width: 1366px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    width: 100%;
}

.articles article {
    width: 33%;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
}

.articles article p {
    padding: 10px;
}

.articles article a {
    border-radius: 10px;
    /* background-color: rgba(27, 13, 13, 0.699); */
    padding: 8px;
    display: block;
    color: beige;
    text-decoration: none;
    text-align: center;
}

section {
    padding: 16px 10px;
}

section h2 {
    border-radius: 15px 15px 0px 0px;
    margin: auto;
    padding: 10px;
}