#entertainement article{
    background-color: rgb(73, 43, 64);
}

#entertainement article  a {
    background-color: rgba(27, 13, 13, 0.699);
}

#entertainement h2 {
    background-color: rgb(116, 84, 121);
}