header li { /*li = link/List*/
    display: inline;
}

body>header { /*só vai pegar o header dentro do body*/
    color: black;
    background-color: #bb6380;
    font-size: larger;
}

header .container { /* .xxx = classe ----- #xxx = id*/
    padding: 20px 10%;
    display: inline-flex;
    align-items: center;
    background-color: #bb6380;
    justify-content: space-between;
}

header li a {
    color: rgb(32, 15, 24);
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    display: inline-flex;
    margin-right: auto;
}